langchain
python-dotenv
langchain-openai
langchain-core
langchain-community
bs4
faiss-cpu
pypdf
pymupdf
lxml
langchain_huggingface
langchain-groq
langgraph
langgraph-cli[inmem]
langchain-ollama
openai
streamlit
protobuf
tavily-python